form{
    width: 30%;
    height: 60vh;
    border:1px solid #afafaf;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin:10vh 0 0 35%;
}
input{
    width: 75%;
    height: 6vh;
    border-radius: 5px;
    outline: 0;
    border:1px solid #afafaf;
    padding-left:5%;
}
button{
    width: 30%;
    background-color: #ffb158;
    height: 6vh;
    border-radius: 5px;
    outline: 0;
    border:0;
    cursor: pointer;
}